<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Reinforce ML Concepts</title>
    <meta name="description" content="Reinforce ML Concepts">
    <meta name="author" content="Nguyen Ngo">
    <!-- load the jquery.js before the js for the app -->
    <script type="text/javascript" src={{ url_for('static', filename='jquery.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='js/bootstrap.min.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='app.js') }}>  </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">

  </head>

  <body>

    <h2 id="title-text"><a href="/">Reinforce ML</a></h2>


    <div class="container">

      <div class="row">
        <div class="col-12">
          <h4 id="prompt">Define "<span id="word">{{ word }}</span>"</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="input-group" id="user-submission">
            <!-- <div class="input-group-prepend"> -->
              <!-- <span class="input-group-text">Your definition</span> -->
            <!-- </div> -->
            <textarea class="form-control" aria-label="With textarea" id="user-submission" name="user-submission" rows="4" cols="50" placeholder="Enter your definition here" wrap="soft"></textarea>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-12" id="submit-button">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="submit">SUBMIT</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div id="submission"></div>
        </div>
        <div class="col-12 col-md-6">
          <div id="answer"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div id="score"></div>
        </div>
      </div>
    </div>

  </body>
</html>
