#title-text {
  padding: 10px;
  font-family: 'Kaushan Script';
}

#description-text {
  padding-left: 10px;
}

#centered {
  text-align: center;
  /* padding: auto; */
  margin: auto;
}

#right {
  text-align: right;
  float: right;
  display: inline;
}

#noun-chunk {
  color: #ff1111;
  font-weight: bolder;
}

#submit {
  margin-bottom: 20px;
}

div.card {
  margin: 5px;
}

div.scroll-card {
  height: 200px;
  overflow-y: scroll;
}

div.card-header, div.card-body {
  padding: .25rem 1.25rem;
}

span.right {
  text-align: right;
  float: right;
}
