#title-text {
  padding: 10px;
}

#description-text {
  padding-left: 10px;
}

#prompt {
  text-align: center;
}

#noun-chunk {
  color: #ff1111;
  font-weight: bolder;
}

#submit {
  margin-bottom: 20px;
}

div.card {
  margin: 5px;
}

div.card-header, div.card-body {
  padding: .25rem 1.25rem;
}

span.right {
  text-align: right;
  float: right;
}
